# Introduction to Python for Machine Learning
Raúl Correa Ocañas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# 1
y = [(2, 4), (7, 8), (1, 5, 9)]
# x = y[1][1]
x = y[1][-1]

x

8

In [3]:
# 2
array  = [[94, 89, 63],[93, 92, 48],[92, 94, 56]]

In [4]:
array[1:]

[[93, 92, 48], [92, 94, 56]]

In [5]:
# 3
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [6]:
data.iloc[:]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [7]:
# 4
cor = data.select_dtypes(exclude='object').corr()

print(np.argmin(cor.loc['Element Code'][-5:]))
cor.loc['Element Code'][-5:]

2

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
Name: Element Code, dtype: float64

In [8]:
# 5

print(data['Y2014'].isna().sum())
print(100* data['Y2014'].isna().sum() / len(data))

1589
2.6073544131401474

In [9]:
# 6
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 7
data.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].get_group('Stock Variation').sum()

In [ ]:
# 8
data.groupby('Area')['Y2017'].sum().sort_values(ascending=False)

In [ ]:
# 9

data.groupby(['Area','Element'])['Y2015'].get_group(('Madagascar', 'Protein supply quantity (g/capita/day)')).sum()

In [ ]:
# 10
len(data['Area'].unique())

In [ ]:
# 11
data.groupby('Area')['Y2017'].sum().sort_values(ascending=True)

In [ ]:
# 12

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']


pd.DataFrame(lst, columns=col)

In [10]:
# 13

data.groupby('Element')['Y2017'].get_group('Processing').sum()

292836.0

In [11]:
data['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [12]:
# 14

data.groupby('Item')[['Y2015', 'Y2018']].get_group('Wine').sum()

Y2015    4251.81
Y2018    4039.32
dtype: float64

In [13]:
# 15
data.shape

(60943, 12)

In [14]:
# 16

data['Y2017'].agg(['mean', 'std'])

mean     140.917765
std     1671.862359
Name: Y2017, dtype: float64

In [15]:
# 17

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'